:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-font: "Inter", sans-serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font);
}

.clients-carousel .slick-slide {
  text-align: center;
}
.clients-carousel .slick-slide img {
  margin: 0 auto; /
}